[submodule "data"]
	path = data
	url = https://github.com/dubstabber/egoboo-assets.git
[submodule "external"]
	path = external
	url = https://github.com/dubstabber/egoboo-external.git
[submodule "idlib"]
	path = idlib
	url = https://github.com/dubstabber/idlib.git
	branch = master
[submodule "idlib-game-engine"]
	path = idlib-game-engine
	url = https://github.com/dubstabber/idlib-game-engine.git
	branch = master
